{% extends 'baseBar.html.twig' %}

{% block title %}Create Board - ShareWriter{% endblock %}

{% block bo %}
<style>
    body {
        text-align: center;
    }

    h1 {
        font-size:20px;
        color:#222;
    }
    .wrapper {
        margin: 10px auto;
        display: inline-block;
        text-align: center;
        background-color: #fff;
        padding: 15px;
    }

    form input[name="name"] {
        display: block;
        width:200px;
        font-size:14px;
        padding:5px;
    }

    form textarea {
        display: block;
        font-size:14px;
        width:400px;
        height:150px;
        padding:5px;
    }

    form label {
        font-size:12px;
        color: #444;
    }

</style>

<div class="wrapper">
    <h1>Create board</h1>
    <form method="post">
        <input type="text" name="name" placeholder="Board name">
        <textarea name="content" placeholder="Initial content (optional)"></textarea>
        <input type="checkbox" name="private" value="1"><label for="private">Don't make the board public</label>
        
        <input type="submit" name="submit" class="btn-fill" value="Create board">
    </form>
    
</div>
{% endblock %}
