{% extends 'baseBar.html.twig' %}

{% block title %}Boards - ShareWriter{% endblock %}

{% block bo %}
<style>
    ul {
        list-style: none;
        padding: 0;
    }

    ul li {
        margin: 50px;
    }

    h1 {
        font-size:20px;
        color: #555;
    }

    .wrapper {
        text-align: center;
    }

    .board-list a {
        font-size:22px;
    }

    .board-author {
        display: block;
        font-size:14px;
        margin:3px;
    }

    .board-date {
        display:block;
        font-size:12px;
    }
</style>


<div class="wrapper">
    
    <h1>Board List</h1>

    <ul class="board-list">
    {% for board in boards %}
        <li>
            <a href="{{ path('boards_display', {id: board.id}) }}">{{board.name}}</a>
            <span class="board-author">by User</span>
            <span class="board-date">Created on 07/07/2020 at 13:46</span>
        </li>
    {% endfor %}
    </ul>
</div>
{% endblock %}
