{% extends 'baseBar.html.twig' %}

{% block title %}Join Board - ShareWriter{% endblock %}

{% block bo %}
<style>
    body {
        text-align:center;
    }
    .wrapper {
        margin: 10px auto;
        display: inline-block;
        text-align: center;
        background-color: #fff;
        padding: 15px;
    }

    form input[name="bid"] {
        
        width:200px;
        font-size:14px;
        padding:5px;
    }
</style>

<div class="wrapper">
    <h1>Join Board</h1>
    <form method="post">
        <p>Enter the id of the board you want to join. You can only join it if the board is public or if you are allowed.</p>
        <input type="text" name="bid" placeholder="Board id...">
        <input type="submit" name="submit" class="btn-fill" value="Join">
    </form>
    
</div>
{% endblock %}
