{% extends 'base.html.twig' %}

{% block title %}{{user}} - Profile{% endblock %}

{% block body %}
<style>
    body {
        background-color:#f7f7f7;
        text-align:center;
    }
    .title {
        font-size: 20px;
        color: #111;
        margin: 22px;
        text-transform: uppercase;
    }
    
    .wrapper {
        margin: auto;
        display: inline-block;
        text-align: center;
        background-color: #fff;
        padding: 15px;
        border: 1px solid #ddd;
    }

    p {
        font-size: 14px;
        color: #555;
    }

    .btn-hollow {
        border: 1px solid #222;
        border-radius: 20px;
        padding: 10px;
        color: #222;
    }

    .btn-fill {
        border: 1px solid #222;
        border-radius: 20px;
        padding: 10px;
        background-color: #222;
        color:#eee;
    }
</style>

<div class="wrapper">
    <h1>{{ user }}</h1>
    <p> This is a user profile </p>
</div>
{% endblock %}
